<mat-card>
  <mat-card-header>
    <mat-card-title><span>Spells</span> </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table *ngFor="let classSpellPerDay of spellPerDay" class="spell-per-level">
      <tr>
        <td>{{ classSpellPerDay.label }} spell level</td>
        <td *ngFor="let nb of classSpellPerDay.table; let index = index">
          {{ index + 1 }}
        </td>
      </tr>
      <tr>
        <td>Spells per day</td>
        <td *ngFor="let nb of classSpellPerDay.table">
          {{ nb }}
        </td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-content>
    <table>
      <tr *ngFor="let spell of spells">
        <td>
          <a href="{{ spell.link }}" target="spell">{{ spell.label }}</a>
        </td>
        <td>{{ spell.class }} {{ spell.level }}</td>
        <td *ngFor="let index of spell.maxUsage">
          <mat-checkbox class="example-margin"></mat-checkbox>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
