<mat-card>
  <mat-card-header>
    <mat-card-title
      ><span>Spells</span>
      <button
        mat-icon-button
        aria-label="Example icon-button with a heart icon"
        (click)="addSpell()"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table *ngFor="let classSpellPerDay of spellPerDay" class="spell-per-level">
      <tr>
        <td>{{ classSpellPerDay.label }} spell level</td>
        <td *ngFor="let nb of classSpellPerDay.table; let index = index">
          {{ index + 1 }}
        </td>
      </tr>
      <tr>
        <td>Spells per day</td>
        <td *ngFor="let nb of classSpellPerDay.table">
          {{ nb }}
        </td>
      </tr>
    </table>
  </mat-card-content>
  <table mat-table [dataSource]="spells" class="spells" multiTemplateDataRows>
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef>Spell</th>
      <td mat-cell *matCellDef="let element">{{ element.label }}</td>
    </ng-container>
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef>Level</th>
      <td mat-cell *matCellDef="let element">{{ element.level }}</td>
    </ng-container>
    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef>Class</th>
      <td mat-cell *matCellDef="let element">{{ element.class }}</td>
    </ng-container>
    <ng-container matColumnDef="usedNumber">
      <th mat-header-cell *matHeaderCellDef>Used today?</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field appearance="outline" class="small-input">
          <input
            matInput
            [(ngModel)]="element.usedNumber"
            (change)="updateSpells()"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element; let i = dataIndex"
        [attr.colspan]="spellsColumns.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div>
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>Class</mat-label>
              <input
                matInput
                [(ngModel)]="element.class"
                (change)="updateSpells()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>Level</mat-label>
              <input
                matInput
                [(ngModel)]="element.level"
                (change)="updateSpells()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="large-input">
              <mat-label>Spell name</mat-label>
              <input
                matInput
                [(ngModel)]="element.label"
                (change)="updateSpells()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>Components</mat-label>
              <input
                matInput
                [(ngModel)]="element.components"
                (change)="updateSpells()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>Duration</mat-label>
              <input
                matInput
                [(ngModel)]="element.duration"
                (change)="updateSpells()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>Range</mat-label>
              <input
                matInput
                [(ngModel)]="element.range"
                (change)="updateSpells()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>Aera of effect</mat-label>
              <input
                matInput
                [(ngModel)]="element.aera"
                (change)="updateSpells()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>Casting time</mat-label>
              <input
                matInput
                [(ngModel)]="element.casting"
                (change)="updateSpells()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="small-input">
              <mat-label>Saving throw</mat-label>
              <input
                matInput
                [(ngModel)]="element.saving"
                (change)="updateSpells()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="large-input">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                [(ngModel)]="element.description"
                (change)="updateSpells()"
              ></textarea>
            </mat-form-field>
            <button mat-button (click)="removeSpell(i)">
              Delete
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="spellsColumns"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: spellsColumns"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']; let i = index"
      class="example-detail-row"
    ></tr>
  </table>
</mat-card>
