<mat-card>
  <mat-card-header><mat-card-title>Vade Retro</mat-card-title></mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="vadeRetros">
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>Undead type</th>
        <td mat-cell *matCellDef="let element">{{ element.label }}</td>
      </ng-container>
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let element">{{ element.score }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['label', 'score']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['label', 'score']"></tr>
    </table>
  </mat-card-content>
</mat-card>
