<mat-card>
  <mat-card-header>
    <mat-card-title
      >Class
      <button
        mat-icon-button
        aria-label="Example icon-button with a heart icon"
        (click)="addClass()"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="characterClasses" class="class">
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>Class</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <mat-select
              [(ngModel)]="element.label"
              (ngModelChange)="updateClass()"
            >
              <mat-option *ngFor="let class of CLASSES" [value]="class">{{
                class
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef>Level</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <mat-label>Level</mat-label>
            <input
              matInput
              [(ngModel)]="element.level"
              (change)="updateClass()"
              disabled
            />
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="xp">
        <th mat-header-cell *matHeaderCellDef>XP</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <mat-label>XP</mat-label>
            <input matInput [(ngModel)]="element.xp" (change)="updateClass()" />
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="hp dices">
        <th mat-header-cell *matHeaderCellDef>Hit dices</th>
        <td mat-cell *matCellDef="let element">
          {{ element.hp }}
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input
              matInput
              value="{{ element.title }}"
              (change)="updateClass()"
              disabled
            />
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let index = index">
          <button mat-icon-button (click)="openInfo(index)">
            <mat-icon>info</mat-icon>
          </button>
          <button
            mat-icon-button
            aria-label="Example icon-button with a heart icon"
            (click)="removeClass(index)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: classColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
