<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Donj'</span>
    <mat-form-field class="character-select">
      <mat-label>Select a character</mat-label>
      <mat-select [(value)]="selectedCharacterId">
        <mat-option
          *ngFor="let character of characters | async"
          value="{{ character.id }}"
          (click)="loadCharacter(selectedCharacterId)"
          >{{ character.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="createNew()">New character</button>
    <app-upload></app-upload>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
