td.mat-cell {
  border-bottom-style: none;
  border-bottom-width: 0;
}
mat-card {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.95);
}
table {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}
